
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Freelancer - ASP.NET MVC 5 </title>
        <link href="Dict/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="Dict/css/freelancer.min.css" rel="stylesheet">

    </head>

    <body id="page-top">
        @Html.Partial("_Navigation")

        <br />
        <!-- Navigation -->
        <!-- Masthead -->
        <!-- Portfolio Section -->
        <!-- Contact Section -->
        <!-- Footer -->
        <!-- Copyright Section -->
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->

        @RenderBody()


        @Html.Partial("_Footer")
        <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>



        <script src="Dict/vendor/jquery/jquery.min.js"></script>
        <script src="Dict/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="Dict/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="Dict/js/jqBootstrapValidation.js"></script>
        <script src="Dict/js/contact_me.js"></script>
        <script src="Dict/js/freelancer.min.js"></script>

    </body>

</html>
